doctype html
html(lang="en")
  head
    title Grocery Automation
    link(rel="stylesheet", href="/assets/index.css",type="text/css")
    script.
      async function addItem(platform,item){
        console.log(item,typeof item);
        try{
        const res = await fetch('/add',
          {
            method:'POST',
            header:{"Content-Type":'application/json'},
            body:JSON.stringify({platform,item})
          });
          console.log({res});
          if(res){
            const doc = document.getElementById(item.productId);
              if(doc){
                doc.innerHTML = 'Added';
                doc.classList.add('added');
            }
          }
        }catch(e){}
      }
      
  body
    div.result-container
      each platform in Object.keys(searchRes)
        div.platform-container.product-container
          h3=platform.toUpperCase()
          ul.product-list 
            each val in searchRes[platform] 
              li.product-item-cont
                div.product-item 
                  img(src=val.image, alt=val.name,loading='lazy')
                  p= `${val.name} ${val.quantity||''}`
                  div.price-add
                    span= val.sp
                    button(type="button",id=`${val.productId}`,class='add-btn',value='Add',onclick=`addItem(${JSON.stringify(platform)},${JSON.stringify(val)})`) Add