doctype html
html(lang="en")
  head
    title Grocery Automation
    link(rel="stylesheet", href="/assets/index.css",type="text/css")
    script(type='text/javascript')
      const addItem =  function(item){console.log(item)}
      
  body
    div.result-container
      each platform in Object.keys(searchRes)
        div.platform-container.product-container
          h3=platform.toUpperCase()
          ul.product-list 
            each val in searchRes[platform] 
              li.product-item-cont
                div.product-item 
                  img(src=val.image, alt=val.name,loading='lazy')
                  p= val.name
                  div.btn-add
                    span= val.sp
                    button(type="button",value='Add',click=`addItem(${val})`) Add